.site-footer {
  width: 100%;
  background: #000000;
  color: var(--text-color, #fff);
  padding: 2.5rem 0 1.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.footer-columns {
  display: flex;
  gap: 8rem;
  justify-content: center;
  width: 100%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 20px;
}

.footer-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: #fff;
  letter-spacing: 0.01em;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  margin-left: 0.1rem;
  transition: color 0.18s;
  margin-top: 0.8rem;
}
.footer-link:hover {
  color: #9f9f9f;
}

.footer-bottom {
  font-size: 0.88rem;
  color: #ffffff;
  text-align: center;
}
.footer-logo-bottom {
  width: 100%;
  margin-top: 8rem;
}
.footer-logo-link {
  width: 100vw;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-site-logo {
  width: 90vw;
  padding: 12px 20px;
}
@media (max-width: 800px) {
  .footer-columns {
    gap: 3rem;
  }
}
@media (max-width: 500px) {
  .footer-columns {
    width: 90%;
    flex-direction: column;
    gap: 2.2rem;
    align-items: flex-start;
  }
  .footer-col {
    gap: 1.5rem;
  }
  .footer-header {
    font-size: 1rem;
  }
}
