.page-overview .main-title-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.page-overview .main-title-div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-overview .main-title-1 {
  font-size: clamp(10px, 2vw, 14px);
  font-weight: 300;
  color: var(--text-color);
  width: 100%;
  text-align: center;
}

.page-overview .main-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  color: var(--text-color);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.page-overview .main-title-description {
  font-size: clamp(11px, 3vw, 16px);
  font-weight: 400;
  color: var(--text-color);
  width: 80%;
  text-align: center;
  margin-top: 0px;
}

.page-overview .button-group {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .page-overview .main-title-div {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .page-overview .main-title-div {
    width: 95%;
  }
  .page-overview .main-title-description {
    font-weight: 300;
    width: 100%;
  }
}
