.research-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research-header {
  text-align: center;
  margin-bottom: 2rem;
}

.research-title {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  margin-top: 0px;
}

.research-description {
  font-size: clamp(12px, 2vw, 14px);
  color: var(--text-color);
  font-weight: 300;
  margin: 0 auto;
  max-width: 520px;
}

.research-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem 2.5rem;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.research-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.research-img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(2, 6, 23, 0.08);
  margin-bottom: 0.5rem;
  filter: brightness(80%);
}

.research-img-label {
  color: var(--text-color);
  font-size: clamp(
    0.75rem,
    calc(1rem + 0.125 * ((100vw - 23.4375rem) / 66.5625)),
    1rem
  );
  line-height: clamp(
    1.25rem,
    calc(1.25rem + 0.235 * ((100vw - 23.4375rem) / 66.5625)),
    1.485rem
  );
  letter-spacing: -0.01em;
  max-width: 400px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .research-list {
    gap: 1.2rem 1.2rem;
  }
  .research-img {
    width: 90vw;
    height: auto;
  }
  .research-img-label {
    max-width: 90vw;
    margin-bottom: 20px;
  }
  .research-item {
    min-width: 90vw;
  }
  .research-title {
    font-size: 1.2rem;
  }
}
