@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg: #000000;
  --accent: #3b82f6;
  --text-color: rgb(255, 255, 255);
}
body {
  font-family: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.8px;
  background: var(--bg);
  color: #0f172a;
  margin: 0;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(2, 6, 23, 0.08);
}

.main-title-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-margin-div {
  height: 8rem;
}
.main-mini-margin-div {
  height: 3rem;
}
.main-title-1 {
  font-size: clamp(10px, 2vw, 14px);
  font-weight: 300;
  color: var(--text-color);
  width: 100%;
  text-align: center;
}
.main-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  color: var(--text-color);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.main-title-description {
  font-size: clamp(11px, 3vw, 16px);
  font-weight: 400;
  color: var(--text-color);
  width: 80%;
  text-align: center;
  margin-top: 0px;
}
@media (max-width: 1200px) {
  .main-title-div {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .main-title-div {
    width: 95%;
  }
  .main-title-description {
    font-weight: 300;
    width: 100%;
  }
  .main-margin-div {
    height: 4.5rem;
  }
}
